{"consumer_key":"your_consumer_key","consumer_secret":"your_consumer_secret","access_token":"your_access_token",
"token_secret":"your_token_secret","user":"your_username","maps_api_key":"your_google_maps_API_key"}